.education {
  padding: 100px 0px;
  margin: 50px 0px;
  margin-left: 120px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px; */
}

.education hr {
  color: #0ea5e9;
  width: 400px;
  margin: 10px auto;

}

.education .vt {
  width: 80%;
}

.education h2 {
  font-weight: bold;
  color: #0ea5e9;
  font-family: cursive;

}



.education .vertical-timeline-element-subtitle {
  /* color: #1e1e2c; */
  font-family: cursive;

}

/* ========= DARK MODE ============ */
#dark .education h2 {
  color: whitesmoke;
}

#dark .education hr {
  color: whitesmoke;
  width: 400px;
  margin: 10px auto;

}

@media (max-width: 600px) {
  .education {
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }

  .education h2 {
    padding-top: 20px;
  }

  .education hr {
    width: 280px;
    margin-bottom: 10px;
  }
}